#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

#logoContainer{
    margin-right: auto;
}

#menuContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}


#logo span{
  color: rgb(255, 238, 0);

}
